langgraph
langchain>=1.0.0
langchain-openai
langchain_anthropic
langchain-google-genai
openai
scipy
numpy
pulp
sympy
graphviz
python-dotenv
pubchempy
scipy
pandas
tabulate
rich
questionary
typer
jinja2
python-docx
pypandoc
grandalf
json_repair
pydantic
coolprop
